
@{
    ViewBag.Title = "SerthExpression";
}

<h2>SerthExpression</h2>



@{
    string start = "";//出発
    string goal = "";//到着
    string month = "";//月情報
    string day = "";//日情報
    string hour = "";//時間情報
    string minute = "";//分情報
    start = Request.Form["start"];//メインページからデータ受け取り
    goal = Request.Form["goal"];
    month = Request.Form["month"];
    day = Request.Form["day"];
    hour = Request.Form["hour"];
    minute = Request.Form["minute"];

    int monthint = int.Parse(month);//string型をint型に変換
    int dayint = int.Parse(day);
    int hourint = int.Parse(hour);
    int minuteint = int.Parse(minute);
    int starttime = 1000;
    int goaltime = 1100;
    string rosen = "小野町行き";

    DateTime dateValue = new DateTime(2015, 9, 6);
    //Console.WriteLine((int)dateValue.DayOfWeek);

}



<CENTER>
    <button ="image" typeof="submit" value="ボタン"><img src="~/Image/kensaku.png" width="60%"></img></button>
    <button ="image" typeof="submit" value="ボタン"><img src="~/Image/kensaku.png" width="60%"></img></button>
    <button ="image" typeof="submit" value="ボタン"><img src="~/Image/kensaku.png" width="60%"></img></button><br/>
    @("出発時刻:" + starttime)@("出発バス停:" + start)<br />
    |<br />
    |<br />
    |<br />
    |<br />
    @("路線:" + rosen)<br />
    |<br />
    |<br />
    |<br />
    |<br />
    @("到着時刻:" + goaltime)@("到着バス停:" + goal)<br />
    <button ="image" typeof="submit" value="ボタン"><img src="~/Image/kensaku.png" width="60%"></img></button><br />
</CENTER>