
@{
    ViewBag.Title = "Index";
}

<h2>JinView</h2>
@using (Html.BeginForm(
                                      "DeleteAll",
                                      "Jin",
                                      null,
                                      FormMethod.Post,
                                      new { enctype = "multipart/form-data" }
                                      ))
{
    <div>

        <input type="submit" value="削除" class="btn btn-default" />
        <br>
        <strong>@ViewBag.msg</strong> 
    </div>
}
