@{
    ViewBag.Title = "Index";
}






<CENTER>

    <form id="colors" action="#">
        出発地点：
        <input id="result" type="text" value="" />
        <button type="image" value="ボタン"><img src="~/Image/chizu.png" border="0"></img></button>

        <br><br>

        到着地点：
        <input id="result" type="text" value="" />
        <button type="image" value="ボタン"><img src="~/Image/chizu.png" border="0"></button>

    </form>

    <br><br>
    <input type="radio" name="q1" value="出発時刻"> 出発時刻
    　<input type="radio" name="q1" value="到着時刻"> 到着時刻

    <datalist id="codeType">
        <option value="AAA-"></option>
        <option value="BBB-"></option>
        <option value="CCC-"></option>
    </datalist>
    <br><br>

    年：
    <span name="ComboBox">
        <select id="pulldownList" name="pulldownList">
            <option>　</option>
            <option>1995</option>
            <option>2000</option>
            <option>2005</option>
            <option>2010</option>
        </select>
    </span>
    　月：
    <span name="ComboBox">
        <select id="pulldownList" name="pulldownList">

            <option>　</option>
            <option>1月</option>
            <option>4月</option>
            <option>8月</option>
            <option>12月</option>
        </select>
    </span>
    　日：
    <span name="ComboBox">
        <select id="pulldownList" name="pulldownList">

            <option>　</option>
            <option>1日</option>
            <option>8日</option>
            <option>15日</option>
            <option>22日</option>
        </select>
    </span>

    <br><br>

    時：
    <span name="ComboBox">
        <select id="pulldownList" name="pulldownList">
            <option>　</option>
            <option>1時</option>
            <option>6時</option>
            <option>12時</option>
            <option>18時</option>
        </select>
    </span>
    　分：
    <span name="ComboBox">
        <select id="pulldownList" name="pulldownList">
            <option>　</option>
            <option>00分</option>
            <option>12分</option>
            <option>24分</option>
            <option>36分</option>
        </select>
    </span>

    <br><br><br>
    <button type="image" value="ボタン"><img src="~/Image/kensaku.png" width="60%"></img></button>



    </form>

</CENTER>





<p>
    @ViewData["msg"]
</p>
