@{
    ViewBag.Title = "Index";
}






<CENTER>

    <form action="http://localhost:49834/Home/About" method="post">
        <span class="hacchaku"><img src="~/Image/shuppatsu.png"></img></span>
        <input type="text" id="q1" name="start" />
&nbsp;&nbsp;&nbsp;
        <button type="image" value="ボタン"><img src="~/Image/chizu.png" border="0"></img></button>

        <br><br>

        <span class="hacchaku"><img src="~/Image/touchaku.png"></img></span>
        <input type="text" name="goal" />
&nbsp;&nbsp;&nbsp;
        <button type="image" value="ボタン"><img src="~/Image/chizu.png" border="0"></button>
<br></br>
        <input type="submit" />
    </form>

        <br><br>
        <input type="radio" name="q1" value="出発時刻" checked="checked"> 出発時刻
&nbsp;&nbsp;&nbsp;
        <input type="radio" name="q1" value="到着時刻"> 到着時刻


        <datalist id="codeType">
            <option value="AAA-"></option>
            <option value="BBB-"></option>
            <option value="CCC-"></option>
        </datalist>
        <br><br>

        <form name="myform">

            <!-------- セレクトボックス -------->

            <select name="month"></select>
            月&nbsp;&nbsp;&nbsp;
            <select name="day"></select>
            日
            <br>
            <br>
            <select name="hour"></select>
            時&nbsp;&nbsp;&nbsp;
            <select name="minute"></select>
            分


        </form>

        <!-------- スクリプト -------->

        <script type="text/javascript">

            /*====[ <select> 要素 ]====*/

            var select = new Object()
            select.month = document.myform.month;
            select.day = document.myform.day;
            select.hour = document.myform.hour;
            select.minute = document.myform.minute;

            /*====[ 日付データ ]====*/

            var D = new Object();
            D.month = (new Date()).getMonth() + 1;
            D.day = (new Date()).getDay();
            D.hour = (new Date()).getHours();
            D.minute = (new Date()).getMinutes();

            /*====[ 月の <option> を追加 ]====*/

            for (var i = 1; i <= 12; i++) {
                var option =
                select.month.appendChild(document.createElement('option'));
                option.text = i;
                option.value = i;
            }


            /*====[ 日の <option> を追加 ]====*/

            for (var i = 1; i <= 31; i++) {
                var option =
                select.day.appendChild(document.createElement('option'));
                option.text = i;
                option.value = i;
            }

            /*====[ 時の <option> を追加 ]====*/

            for (var i = 0; i <= 23; i++) {
                var option =
                select.hour.appendChild(document.createElement('option'));
                option.text = i;
                option.value = i;
            }

            /*====[ 分の <option> を追加 ]====*/

            for (var i = 0; i <= 59; i++) {
                var option =
                select.minute.appendChild(document.createElement('option'));
                option.text = i;
                option.value = i;
            }


            /*====[ 初期状態をセット ]====*/

            for (var key in select) {
                var option = select[key].options;
                for (var i = 0; i < option.length; i++) {
                    option[i].selected = (option[i].value == D[key]) ? true : false;
                }
            }
        </script>

        <br><br><br>
    <button type="image" typeof="submit" value="ボタン"><img src="~/Image/kensaku.png" width="60%"></img></button>



</CENTER>





<p>
    @ViewData["msg"]
</p>
