@{
    ViewBag.Title = "Index";
}


@{ 
    string flag = Request.QueryString["flag"];
    string value = Request.QueryString["value"];
    if (flag == "0")
    {
        Session["start"] = value;
    }
    else
    {
        Session["goal"] = value;
    }


}



<CENTER>

    <!--{Html.BeginForm("myform"); -->
    <form action="/Home/Index"
          enctype="multipart/form-data" id="fm" method="post" name="myform">

        <span class="hacchaku"><img src="~/Image/shuppatsu.png"></img></span>
        <input type="text" name="start" value=@Session["start"]>
        <br />
        <span class="chizubutton">
            <button type="button" onClick="location.href = '/Home/Busstop?flag=0';" value="ボタン"><img src="~/Image/chizu.png" border="0"></img></button>
        </span>

            <br><br>
            <span class="hacchaku"><img src="~/Image/touchaku.png"></img></span>
        <input type="text" name="goal" value="@Session["goal"]">
        <br />
        <span class="chizubutton">
            <button type="button" onClick="location.href = '/Home/Busstop?flag=1';" value="ボタン"><img src="~/Image/chizu.png" border="0"></img></button>
        </span>
            <br><br><br>

            <input type="radio" name="kijun" value="0" checked="checked">
            出発時刻　　　
            <input type="radio" name="kijun" value="1">
            到着時刻

            <br><br>

            <select name="month"></select>月
        &nbsp; &nbsp;
            <select name="day"></select>日
            <br> <br>
            <select name="hour"></select>時
        &nbsp; &nbsp;
            <select name="minute"></select>分
            <script type="text/javascript">

                /*====[ <select> 要素 ]====*/

                var select = new Object()
                select.month = document.myform.month;
                select.day = document.myform.day;
                select.hour = document.myform.hour;
                select.minute = document.myform.minute;

                /*====[ 日付データ ]====*/

                var D = new Object();
                D.month = (new Date()).getMonth() + 1;
                D.day = (new Date()).getDate();
                D.hour = (new Date()).getHours();
                D.minute = (new Date()).getMinutes();

                /*====[ 月の <option> を追加 ]====*/

                for (var i = 1; i <= 12; i++) {
                    var option =
                    select.month.appendChild(document.createElement('option'));
                    option.text = i;
                    option.value = i;
                }


                /*====[ 日の <option> を追加 ]====*/

                for (var i = 1; i <= 31; i++) {
                    var option =
                    select.day.appendChild(document.createElement('option'));
                    option.text = i;
                    option.value = i;
                }

                /*====[ 時の <option> を追加 ]====*/

                for (var i = 0; i <= 23; i++) {
                    var option =
                    select.hour.appendChild(document.createElement('option'));
                    option.text = i;
                    option.value = i;
                }

                /*====[ 分の <option> を追加 ]====*/

                for (var i = 0; i <= 59; i++) {
                    var option =
                    select.minute.appendChild(document.createElement('option'));
                    option.text = i;
                    option.value = i;
                }


                /*====[ 初期状態をセット ]====*/

                for (var key in select) {
                    var option = select[key].options;
                    for (var i = 0; i < option.length; i++) {
                        option[i].selected = (option[i].value == D[key]) ? true : false;
                    }
                }
            </script>


            <br><br>

            <button ="image" type="submit" value="ボタン"><img src="~/Image/kensaku.png" width="60%"></img></button>

</form>
    </CENTER>
    <p>
        @ViewData["msg"]
    </p>
