@{
    ViewBag.Title = "Home";
}

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("jquery", "1.3.2");
</script>
<script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;region=JP" type="text/javascript"></script>
<script src="/Scripts/gmaps.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/Scripts/jquery.xdomainajax.js" type="text/javascript"></script>

@*<style>
    #map_canvas img{max-width:none}
    </style>*@

<style>
    .infoDiv {
        height: auto;
        max-width: 120px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>
@*<style>
        img {
            height: 100px;
            float: left;
        }
    </style>*@
<div class="container body-content">
    <div class="row">
        <div class="span11">
            <form method="post" id="geocoding_form">
                @*   <label for="address">Location:</label>*@
                <div class="input">
                    @*<input type="text" style="width:150px" id="aname" value="" placeholder="検索">
                    <button type="image" id="abtn" value="検索" /><img src="~/Image/mushimegane.png"></img></button>*@
                </div>
            </form>
            <br />
        </div>
        </div>
    </div>

        <div id="map_canvas" style="height:280px;"></div>
        @*<div id="map_canvas" style="height:800px;"></div>*@

        @*<form action="#" onsubmit="showAddress(this.address.value); return false">*@

        @section scripts {
            <section class="scripts">

                <script type="text/javascript">

                        var map;
                        var geocoder;
                        var directions;

                        $(document).ready(function () {
                            Initialize();
                        });

                        function getQuerystring(key, default_) {
                            if (default_ == null) default_ = "";
                            key = key.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                            var regex = new RegExp("[\\?&]" + key + "=([^&#]*)");
                            var qs = regex.exec(window.location.href);
                            if (qs == null)
                                return default_;
                            else
                                return qs[1];
                        }

                        function callback_direction(result, status) {
                            if (status == google.maps.DirectionsStatus.OK) {
                                var directionsDisplay = new google.maps.DirectionsRenderer({
                                    map: map,
                                    suppressMarkers: true
                                });
                                directionsDisplay.setDirections(result);
                            }
                        }

                        function Initialize() {

                            var kigyou = getQuerystring("kigyou");
                            var flag = getQuerystring("flag");

                            if (flag == 0 || flag == 1) {
                                var rosenmei1 = getQuerystring("rosenmei1");
                                var ikisaki1 = getQuerystring("ikisaki1");
                                var hidukebunrui1 = getQuerystring("hidukebunrui1");
                                var shuppatu1 = getQuerystring("shuppatu1");
                                var shuppatuji1 = getQuerystring("shuppatuji1");
                                var toutyaku1 = getQuerystring("toutyaku1");
                                var toutyakuji1 = getQuerystring("toutyakuji1");
                            }

                            if (flag == 1) {
                                var rosenmei2 = getQuerystring("rosenmei2");
                                var ikisaki2 = getQuerystring("ikisaki2");
                                var hidukebunrui2 = getQuerystring("hidukebunrui2");
                                var shuppatu2 = getQuerystring("shuppatu2");
                                var shuppatuji2 = getQuerystring("shuppatuji2");
                                var toutyaku2 = getQuerystring("toutyaku2");
                                var toutyakuji2 = getQuerystring("toutyakuji2");
                            }

                            //kigyou = "福島交通";
                            //flag = "1";

                            //rosenmei1 = "石川・蓬田";
                            //ikisaki1 = "清水内（平田村）行";
                            //hidukebunrui1 = "0";
                            //shuppatu1 = "大河内（福島県）";
                            //shuppatuji1 = "0734";
                            //toutyaku1 = "上蓬田";
                            //toutyakuji1 = "0802";

                            //rosenmei2 = "小野・石川";
                            //ikisaki2 = "石川駅前行";
                            //hidukebunrui2 = "0";
                            //shuppatu2 = "上蓬田";
                            //shuppatuji2 = "0819";
                            //toutyaku2 = "千五沢";
                            //toutyakuji2 = "0834";

                            navigator.geolocation.getCurrentPosition(function (pos) {
                                var i = pos.coords.latitude;
                                var k = pos.coords.longitude;

                                google.maps.visualRefresh = true;
                                //var Center = new google.maps.LatLng(i, k);
                                var Center = new google.maps.LatLng(37.215629, 140.567835);

                                var mapOptions = {
                                    zoom: 11,
                                    center: Center,
                                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                                };

                                map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                                if (flag == 0 || flag == 1) {
                                    $.ajax({
                                        url: "http://busmaru.com/busmaruAPI/api/Basuteis/" + kigyou + "/" + rosenmei1 + "?format=json",
                                        //url: "http://163.143.242.69/basumaruAPI/api/Basuteis/" + kigyou + "/" + rosenmei1 + "?format=json",
                                        //url: "http://192.168.11.6/basumaruAPI/api/Basuteis/" + kigyou + "/" + rosenmei1 + "?format=json",
                                        dataType: 'json',
                                        async: true,
                                        success: function (json) {

                                            $.ajax({
                                                url: "http://busmaru.com/busmaruAPI/api/Jikokuhyous/" + kigyou + "/" + rosenmei1 + "/" + ikisaki1 + "?hidukebunrui=" + hidukebunrui1 + "&format=json",
                                                //url: "http://163.143.242.69/basumaruAPI/api/Jikokuhyous/" + kigyou + "/" + rosenmei1 + "/" + ikisaki1 + "?hidukebunrui=" + hidukebunrui1 + "&format=json",
                                                //url: "http://192.168.11.6/basumaruAPI/api/Jikokuhyous/" + kigyou + "/" + rosenmei1 + "/" + ikisaki1 + "?hidukebunrui=" + hidukebunrui1 + "&format=json",
                                                dataType: 'json',
                                                async: true,
                                                success: function (js) {
                                                    //$.each(js, function (i, item) {
                                                    //    console.log(item.JikokuhyouId);
                                                    //    console.log(item.basuteimei);
                                                    //    console.log(item.zikoku);
                                                    //})

                                                    $.each(json, function (i, item) {

                                                        var str = '<div><span class="yanebenchi"><hr style="margin:0px;">時刻表</span>';
                                                        $.each(js, function (j, it) {
                                                            if (it.basuteimei == item.basuteimei) {
                                                                //console.log(it.JikokuhyouId);
                                                                //console.log(it.basuteimei);
                                                                //console.log(it.zikoku);

                                                                a = it.zikoku.substring(0, 2);
                                                                b = it.zikoku.substring(2, 4);

                                                                if (it.zikoku == shuppatuji1 && it.basuteimei == shuppatu1) { str = str + '<div><span class="yanebenchi"><hr style="margin:0px;"><strong>' + a + ':' + b + '&nbsp;出発</strong></span>' }
                                                                else if (it.zikoku == toutyakuji1 && it.basuteimei == toutyaku1) { str = str + '<div><span class="yanebenchi"><hr style="margin:0px;"><strong>' + a + ':' + b + '&nbsp;到着</strong></span>' }
                                                                else { str = str + '<div><span class="yanebenchi"><hr style="margin:0px;">' + a + ':' + b + '</span>' }
                                                            };
                                                        })

                                                        //console.log("item.basuteimei");

                                                        if (flag == 0) {
                                                            var marker = new google.maps.Marker({
                                                                position: new google.maps.LatLng(item.ido, item.keido),
                                                                map: map,
                                                            });

                                                            marker.setVisible(true);

                                                            //console.log(item.basuteimei);
                                                            //console.log(item.ido);
                                                            //console.log(item.keido);

                                                            if (item.yaneFlg == 1 || item.benchiFlg == 1) marker.setIcon('/Image/basu_ao.png');
                                                            else marker.setIcon('/Image/basu_aka.png');

                                                            if (item.yaneFlg == 1) { var yane = "屋根" }
                                                            else { var yane = "" };

                                                            if (item.benchiFlg == 1) { var benchi = "ベンチ" }
                                                            else { var benchi = "" };

                                                            var contentStr = '<div class="infoDiv"><span class="basuteimei">' + item.basuteimei + '</span>' +
                                                                             '<div><span class="yanebenchi"><hr style="margin:0px;">' + yane + '&nbsp;' + benchi + '</span>' + str

                                                            var infowindow = new google.maps.InfoWindow({
                                                                content: contentStr
                                                            });

                                                            if (flag == 0) {
                                                                if (item.basuteimei == shuppatu1 || item.basuteimei == toutyaku1) infowindow.open(map, marker);
                                                            } else if (flag == 1) {
                                                                if (item.basuteimei == shuppatu1) infowindow.open(map, marker);
                                                            }

                                                            google.maps.event.addListener(marker, 'click', function () {
                                                                infowindow.open(map, marker);
                                                            });

                                                        } else if (flag == 1) {
                                                            if (item.basuteimei != toutyaku1) {
                                                                var marker = new google.maps.Marker({
                                                                    position: new google.maps.LatLng(item.ido, item.keido),
                                                                    map: map,
                                                                });

                                                                marker.setVisible(true);

                                                                //console.log(item.basuteimei);
                                                                //console.log(item.ido);
                                                                //console.log(item.keido);

                                                                if (item.yaneFlg == 1 || item.benchiFlg == 1) marker.setIcon('/Image/basu_ao.png');
                                                                else marker.setIcon('/Image/basu_aka.png');

                                                                if (item.yaneFlg == 1) { var yane = "屋根" }
                                                                else { var yane = "" };

                                                                if (item.benchiFlg == 1) { var benchi = "ベンチ" }
                                                                else { var benchi = "" };

                                                                var contentStr = '<div class="infoDiv"><span class="basuteimei">' + item.basuteimei + '</span>' +
                                                                                 '<div><span class="yanebenchi"><hr style="margin:0px;">' + yane + '&nbsp;' + benchi + '</span>' + str

                                                                var infowindow = new google.maps.InfoWindow({
                                                                    content: contentStr
                                                                });

                                                                if (flag == 0) {
                                                                    if (item.basuteimei == shuppatu1 || item.basuteimei == toutyaku1) infowindow.open(map, marker);
                                                                } else if (flag == 1) {
                                                                    if (item.basuteimei == shuppatu1) infowindow.open(map, marker);
                                                                }

                                                                google.maps.event.addListener(marker, 'click', function () {
                                                                    infowindow.open(map, marker);
                                                                });
                                                            }
                                                        }
                                                    })

                                                    var c, d;

                                                    for (var l = 0 ; l < json.length ; l = l + 1) {
                                                        if (json[l].basuteimei == shuppatu1) c = l;
                                                        else if (json[l].basuteimei == toutyaku1) { d = l; }
                                                    }

                                                    if (c <= d) {
                                                        var paths = new Array(d - c + 1);

                                                        var k = 0;
                                                        for (var i = c ; i <= d ; i = i + 1) {
                                                            paths[k] = new google.maps.LatLng(json[i].ido, json[i].keido);
                                                            k++;
                                                        }
                                                    }
                                                    else {
                                                        var paths = new Array(c - d + 1);

                                                        var k = 0;
                                                        for (var i = d; i <= c ; i = i + 1) {
                                                            paths[k] = new google.maps.LatLng(json[i].ido, json[i].keido);
                                                            k++;
                                                        }
                                                    }

                                                    var polyline = new google.maps.Polyline({
                                                        map: map,
                                                        path: paths,
                                                        strokeColor: "blue",
                                                        strokeOpacity: 0.8,
                                                        strokeWeight: 5,
                                                        zIndex: 1
                                                    });
                                                },
                                                error: function () {
                                                    console.log("error");
                                                }
                                            });
                                        },
                                        error: function () {
                                            console.log("error");
                                        }
                                    });
                                }

                                if (flag == 1) {
                                    $.ajax({
                                        url: "http://busmaru.com/busmaruAPI/api/Basuteis/" + kigyou + "/" + rosenmei2 + "?format=json",
                                        //url: "http://163.143.242.69/basumaruAPI/api/Basuteis/" + kigyou + "/" + rosenmei2 + "?format=json",
                                        //url: "http://192.168.11.6/basumaruAPI/api/Basuteis/" + kigyou + "/" + rosenmei2 + "?format=json",
                                        dataType: 'json',
                                        async: true,
                                        success: function (json) {

                                            $.ajax({
                                                url: "http://busmaru.com/busmaruAPI/api/Jikokuhyous/" + kigyou + "/" + rosenmei2 + "/" + ikisaki2 + "?hidukebunrui=" + hidukebunrui2 + "&format=json",
                                                //url: "http://163.143.242.69/basumaruAPI/api/Jikokuhyous/" + kigyou + "/" + rosenmei2 + "/" + ikisaki2 + "?hidukebunrui=" + hidukebunrui2 + "&format=json",
                                                //url: "http://192.168.11.6/basumaruAPI/api/Jikokuhyous/" + kigyou + "/" + rosenmei2 + "/" + ikisaki2 + "?hidukebunrui=" + hidukebunrui2 + "&format=json",
                                                dataType: 'json',
                                                async: true,
                                                success: function (js) {
                                                    //$.each(js, function (i, item) {
                                                    //    console.log(item.JikokuhyouId);
                                                    //    console.log(item.basuteimei);
                                                    //    console.log(item.zikoku);
                                                    //})

                                                    $.each(json, function (i, item) {

                                                        var str = '<div><span class="yanebenchi"><hr style="margin:0px;">時刻表</span>';
                                                        $.each(js, function (j, it) {
                                                            if (it.basuteimei == item.basuteimei) {
                                                                //console.log(it.JikokuhyouId);
                                                                //console.log(it.basuteimei);
                                                                //console.log(it.zikoku);

                                                                a = it.zikoku.substring(0, 2);
                                                                b = it.zikoku.substring(2, 4);

                                                                if (it.zikoku == shuppatuji2 && it.basuteimei == shuppatu2) { str = str + '<div><span class="yanebenchi"><hr style="margin:0px;"><strong>' + a + ':' + b + '&nbsp;乗り換え</strong></span>' }
                                                                else if (it.zikoku == toutyakuji2 && it.basuteimei == toutyaku2) { str = str + '<div><span class="yanebenchi"><hr style="margin:0px;"><strong>' + a + ':' + b + '&nbsp;到着</strong></span>' }
                                                                else { str = str + '<div><span class="yanebenchi"><hr style="margin:0px;">' + a + ':' + b + '</span>' }
                                                            };
                                                        })

                                                        //console.log("item.basuteimei");

                                                        var marker = new google.maps.Marker({
                                                            position: new google.maps.LatLng(item.ido, item.keido),
                                                            map: map,
                                                        });

                                                        marker.setVisible(true);

                                                        //console.log(item.basuteimei);
                                                        //console.log(item.ido);
                                                        //console.log(item.keido);

                                                        if (item.yaneFlg == 1 || item.benchiFlg == 1) marker.setIcon('/Image/basu_ao.png');
                                                        else marker.setIcon('/Image/basu_aka.png');

                                                        if (item.yaneFlg == 1) { var yane = "屋根" }
                                                        else { var yane = "" };

                                                        if (item.benchiFlg == 1) { var benchi = "ベンチ" }
                                                        else { var benchi = "" };

                                                        var contentStr = '<div class="infoDiv"><span class="basuteimei">' + item.basuteimei + '</span>' +
                                                                         '<div><span class="yanebenchi"><hr style="margin:0px;">' + yane + '&nbsp;' + benchi + '</span>' + str

                                                        var infowindow = new google.maps.InfoWindow({
                                                            content: contentStr
                                                        });


                                                        if (item.basuteimei == shuppatu2 || item.basuteimei == toutyaku2)
                                                            infowindow.open(map, marker);

                                                        google.maps.event.addListener(marker, 'click', function () {
                                                            infowindow.open(map, marker);
                                                        });

                                                    })

                                                    var c, d;

                                                    for (var l = 0; l < json.length ; l = l + 1) {
                                                        if (json[l].basuteimei == shuppatu2) c = l;
                                                        else if (json[l].basuteimei == toutyaku2) d = l;
                                                    }

                                                    if (c <= d) {
                                                        var paths = new Array(d - c + 1);

                                                        var k = 0;
                                                        for (var i = c ; i <= d ; i = i + 1) {
                                                            paths[k] = new google.maps.LatLng(json[i].ido, json[i].keido);
                                                            k++;
                                                        }
                                                    }
                                                    else {
                                                        var paths = new Array(c - d + 1);

                                                        var k = 0;
                                                        for (var i = d; i <= c ; i = i + 1) {
                                                            paths[k] = new google.maps.LatLng(json[i].ido, json[i].keido);
                                                            k++;
                                                        }
                                                    }

                                                    var polyline = new google.maps.Polyline({
                                                        map: map,
                                                        path: paths,
                                                        strokeColor: "red",
                                                        strokeOpacity: 0.8,
                                                        strokeWeight: 5,
                                                        zIndex: 1
                                                    });
                                                },
                                                error: function () {
                                                    console.log("error");
                                                }
                                            });
                                        },
                                        error: function () {
                                            console.log("error");
                                        }
                                    });
                                }

                            });
                        }

                </script>
            </section>
        }