<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://52.26.199.99/</MSDeployServiceURL>
    <DeployIisAppPath>default web site/busmaru/</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BasumaruDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=WIN-IJ8DQU9VJ9A\SQLEXPRESS;Initial Catalog=075035;Persist Security Info=True;User ID=sa;Password=teammuteki" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Basumaru.BasumaruDBContext, Basumaru" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=WIN-IJ8DQU9VJ9A\SQLEXPRESS;Initial Catalog=075035;Persist Security Info=True;User ID=sa;Password=teammuteki" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Basumaru.Models.ApplicationDbContext, Basumaru" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BasumaruDBContext-Web.config Connection String">
      <ParameterValue>Data Source=WIN-IJ8DQU9VJ9A\SQLEXPRESS;Initial Catalog=075035;Persist Security Info=True;User ID=sa;Password=teammuteki</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=WIN-IJ8DQU9VJ9A\SQLEXPRESS;Initial Catalog=075035;Persist Security Info=True;User ID=sa;Password=teammuteki</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>