body {
    padding-top: 130px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
button {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    line-height:0;
    cursor:pointer;
}
.chizubutton {
position: relative;
left:85px;
}

.hacchaku {
position: relative;
bottom :3.5px;
}

.mozi{
font-size:18pt;
font-weight:bold;
}
.rosenmozi {
font-size: 14pt;
font-weight: bold;
}
table {
border-spacing: 0px 15px;
border-collapse: separate;
white-space:normal;
width:300px;
}

.basu {
position: relative;
left: 12px;
}

.basuteimei{
    font-size:11pt;
    font-weight:bold;
}

.yanebenchi {
    font-size:9pt;
}