
@{
    ViewBag.Title = "SearchExpressionHidukeError";
}

<h3>日付が正しくありません。</h3>
@*<button type="button" value="ボタン" onClick="location.href = '/Home/index';"><img src="~/Image/M.png"></button>*@
<button type="button" value="ボタン" onClick="history.back();"><img src="~/Image/M.png"></button>

